<section class="items-container">
  <form class="new-item group">
    <input type="text" class="new-item-input" name="item-text" placeholder="Add an item to your list">
    <button class="add-item-button">Add Item</button>
  </form>

  <ul class="list-items"></ul>

  <button class="completed-button">Completed</button>

  <ul class="completed-items"></ul>
</section>

<section class="item-modal-container">
</section>
