<% console.log("List Stub template receives:", list) %>
<div class="group">

  <button >
    <figure></figure>
    <h3>
      <%= list.escape("title") %>
    </h3>
  </button>
  <button class="list-edit-button" data-list-title="<%= list.escape("title") %>"></button>
</div>
