<section class="user-stub-container"></section>

<section class="friend-stubs tab-content active" id="tab1-content"></section>
<section class="pending-friend-stubs tab-content" id="tab2-content"></section>
<section class="potential-friend-stubs tab-content" id="tab3-content"></section>

<ul class="tabs group">
  <li>
    <button class="tab active" id="tab1" data-content="tab1-content">Friends</button>
  </li>
  <li>
    <button class="tab" id="tab2" data-content="tab2-content">Requests</button>
  </li>
  <li>
    <button class="tab" id="tab3" data-content="tab3-content">Pending</button>
  </li>
</ul>
