<nav class="user-nav-container">
</nav>

<figure class="searchbar-container">
</figure>

<section class="notifications-container"></section>

<section class="user-buttons">

  <nav class="nav-buttons">
    <!-- <button class="nav-button" id="notifications-button"></button> -->
    <button class="nav-button" id="chat-button">☏</button>
    <button class="nav-button" id="settings-button">⚙</button>

    <button class="signout-button" id="signout-button">Sign out</button>
  </nav>
</section>
