<nav class="user-nav-container">
</nav>

<figure class="searchbar-container">
</figure>

<section class="user-buttons">
  <nav class="nav-buttons">
    <button class="nav-button" id="notifications-button"></button>
    <button class="nav-button" id="chat-button"></button>
    <button class="nav-button" id="search-button"></button>
  </nav>

  <button class="signout-button" id="signout-button"></button>
</section>
