<form class="search-form">
  <input id="<%= searchContainer %>-search-input" class="search-input" placeholder="Search for users or lists">
</form>
<section class="search-results-container">
  <ul class="search-results group" id="search-results"></ul>
</section>
