<nav group>
  <h1>Alice-in-Wunderlist</h1>

  <section class="sign-in">
    <form group>
      <input
        type="text"
        name="email"
        id="user-email"
        value=""
        placeholder="Email">

      <input
        type="password"
        name="password"
        id="user-password"
        placeholder="Password">


      <input type="submit" value="Sign In">
    </form>
  </section>
</nav>

<main group>
  <div class="left-container">
    <section class="left">
      <h1>Wunderlist Clone</h1>
      <h2>Your life in sync</h2>
      <p>We love lists. They capture ideas, things to do and places to see. And when you share them, they influence the world around you. This is Wunderlist.</p>
      <h2>Your team, synchronized</h2>
      <p>
        Wunderlist for Business makes it easy to manage all your team’s projects with centralized communication and unlimited collaboration features. Start your free trial and join over 50,000 businesses that use Wunderlist everyday.
      </p>
    </section>
  </div>

  <div class="right-container">
    <section class="right">
      <h1>Sign Up</h1>
      <form>
        <input type="text" name="user[username]" id="user-name" value="" placeholder="Name">

        <input type="text" name="user[email]" id="user-email" value="" placeholder="Email">

        <input type="password" name="user[password]" id="user-password" value="" placeholder="Password">

        <input type="submit" value="Create Free Account">
      </form>
    </section>
  </div>
</main>
